@charset "utf-8";

.navbar{
	padding: 10px;
	background-color: #07020D;
}

#about{
	height: 100%;
	background-color: #07020D;
	color: white;	
}

#portfolio{
	background-color: #F1E9DB;
}

#contact{
	background-color: #A39B8B;
}

#footer{
	height: 40vh;
	padding-top: 100px;
}

#about, #portfolio, #contact{
	padding-top: 60px;
	height: 100vh;
	width: 100%;
	padding-left: 50px;
	font-family: 'Lato';
}

.contact-body{
	text-align: center;
}

