@charset "utf-8";

.navbar{
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #2274A5;  
    margin-bottom: 0;
}

.nav.navbar-nav li a{
   color: #fff;
 }


#about{
	height: 100%;
	background-color: #E7DFC6;
	color: black;	
}

#portfolio{
	background-color: #F1E9DB;
}

#contact{
	background-color: #A39B8B;
}

#footer{
	height: 4vh;
	padding-top: 5px;
}

#home{
	padding-top: 100px;
	background-color: #2274A5;
	text-align: center;
	color: white;
	height: 40vh;
}

#home-section{
	padding-top:;
}
#about, #portfolio, #contact{
	padding-top: 40px;
	height: 100vh;
	width: 100%;
	padding-left: 50px;

}


.contact-body{
	text-align: center;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
}

